/* Header */
header {
  background-color: #000000;
  border-bottom: 2px solid rgb(255, 70, 70);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      height: 60px;
      width: 80px;
      border-radius: 8px;
    }

    span {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  .navbar {
    .navbar-nav {
      display: flex;
      align-items: center;

      .nav-item {
        margin: 0 15px;

        .nav-link {
          color: white;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
  }

  .navbar-toggler {
    background-color: black;
    border: none;
    display: flex;

    .hamburger-lines {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .line {
        background-color: white;
        height: 3px;
        width: 25px;
      }
    }
  }
}

/* Modal */
.modal-header {
  .logo-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-logo-img {
      height: 60px;
      width: 80px;
      border-radius: 8px;
    }

    .modal-logo-text {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 15px;
      color: white;
    }
  }
}

.modal-body {
  ul.navbar-nav {
    .btn {
      background-color: rgb(255, 255, 255); 
      color: rgb(0, 0, 0); 
      font-weight: bold;
      font-size: 1.5rem; 
      text-align: center;
      border-radius: 5px;
      padding: 10px 100px; 
    }
  }

  border-top: 2px solid rgb(255, 255, 255); 
}

.modal-footer {
  border-top: 2px solid rgb(0, 0, 0);
  button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.5rem; 
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
  }
}
