<div
  class="modal fade"
  id="menuModal"
  tabindex="-1"
  aria-labelledby="menuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header bg-black">
        <div class="logo-modal d-flex align-items-center">
          <img src="../../../assets/images/logo.jpg" alt="logo" class="modal-logo-img" />
          <span class="modal-logo-text">FilmoPedia</span>
        </div>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center bg-black">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a
              class="btn btn-danger w-100 my-2"
              routerLink="/"
              data-bs-dismiss="modal"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-danger w-100 my-2"
              routerLink="list/movie"
              data-bs-dismiss="modal"
            >
              Movies
            </a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-danger w-100 my-2"
              routerLink="list/tv"
              data-bs-dismiss="modal"
            >
              TvShows
            </a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-danger w-100 my-2"
              routerLink="genres"
              data-bs-dismiss="modal"
            >
              Genres
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer bg-black">
        <button
          type="button"
          class="btn btn-light w-100"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
